- model_class = InfoField
- title @info_field.label
- subtitle 'Info Field'

%p
  %strong= model_class.human_attribute_name(:associated_object) + ':'
  %br
  = @info_field.associated_object
%p
  %strong= model_class.human_attribute_name(:associated_role) + ':'
  %br
  = @info_field.associated_role
%p
  %strong= model_class.human_attribute_name(:label) + ':'
  %br
  = @info_field.label
%p
  %strong= model_class.human_attribute_name(:content_type) + ':'
  %br
  = @info_field.content_type
%p
  %strong= model_class.human_attribute_name(:content) + ':'
  %br
  = @info_field.content
%p
  %strong= model_class.human_attribute_name(:sort_order) + ':'
  %br
  = @info_field.sort_order
%p
  %strong= model_class.human_attribute_name(:category) + ':'
  %br
  = @info_field.category

.form-actions
  = link_to t('.back', default: t("helpers.links.back")), info_fields_path, class: 'btn'
  = link_to t('.edit', default: t("helpers.links.edit")), edit_info_field_path(@info_field), class: 'btn'
  = link_to t('.destroy', default: t("helpers.links.destroy")), info_field_path(@info_field), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
