- title 'Users'

%table.table.table-striped.datatable
  %thead
    %tr
      %th ID
      %th Login
      %th First Name
      %th Last Name
      %th Email
      %th Status
      %th Created At
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= link_to user.login, user
        %td= user.first_name
        %td= user.last_name
        %td= link_to user.email, user.email
        %td= user.status
        %td= user.created_at
        %td
          - if can? :edit, user
            = link_to 'edit', edit_user_path(user), :class => 'btn btn-mini'
          - if can? :destroy, user
            = link_to 'destroy', user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?'}, :class => 'btn btn-mini btn-danger'
- if can? :create, User
  .form-actions
    = link_to 'New', new_user_path, :class => 'btn btn-primary'
