- model_class = User
= title @user.name
= subtitle @user.email
.row
  .span10
    .well
      %p
        %strong= model_class.human_attribute_name(:email) + ':'
        %br
        = @user.email
      %p
        %strong= model_class.human_attribute_name(:status) + ':'
        %br
        = @user.status
      .info-fields
        - @info_values.each do |value|
          %strong= value.info_field.label
          %br
          = value.content
          %br

%h2 Projects
%hr
.row
  -@user.projects.each do |proj|
    .span3
      %h3
        = link_to proj.name, proj
      %hr
      %p= proj.description
      %hr
      %p= proj.start_date.to_s + ' – ' + proj.end_date.to_s

%h2 Associated Labs
%hr

.form-actions
  = link_to t('.back', default: t("helpers.links.back")), users_path, class: 'btn'
  - if can? :edit, @user
    = link_to t('.edit', default: t("helpers.links.edit")), edit_user_path(@user), class: 'btn'
  - if can? :destroy, @user
    = link_to t('.destroy', default: t("helpers.links.destroy")), user_path(@user), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
