= form_for @project, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :lab_tokens, "Labs", :class => 'control-label'
    .controls
      = f.text_field :lab_tokens, data: {load: @project.labs}
  .control-group
    = f.label :user_tokens, "Students", :class => 'control-label'
    .controls
      = f.text_field :user_tokens, data: {load: [JSON.parse(current_user.to_json)]}
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area', rows: "10"
  .control-group
    = f.label :start_date, :class => 'control-label'
    .controls
      = f.date_select :start_date, :class => 'date_select'
  .control-group
    = f.label :end_date, :class => 'control-label'
    .controls
      = f.date_select :end_date, :class => 'date_select'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), projects_path, :class => 'btn'
