= simple_form_for @lab, :html => { :class => 'form-horizontal' } do |f|
  - if current_user.status != "undergrad"
    = f.input :name, label: "Lab Name", input_html: { value: current_user.last_name + " Lab" }
    - if current_user.status == "admin"
      = f.input :user_tokens, label: "Principle Investigator"
    - else
      = f.input :user_tokens, label: "Principle Investigator", data: {load: [JSON.parse(current_user.to_json.insert(-2, ",\"readonly\":true"))]}
    = f.input :url
    = f.input :description
  
  - else
    = f.input :user_tokens, label: "Principle Investigator"

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), labs_path, :class => 'btn'