%h1 Labs
%table.table.table-striped.datatable
  %thead
    %tr
      %th ID
      %th Name
      %th URL
      %th Description
      %th Created At
      %th Actions
  %tbody
    - @labs.each do |lab|
      %tr
        %td= lab.id
        %td= link_to lab.name, lab
        %td= link_to lab.url, lab.url
        %td= lab.description
        %td= lab.created_at
        %td
          - if can? :edit, lab
            = link_to 'edit', edit_lab_path(lab), :class => 'btn btn-mini'
          - if can? :destroy, lab
            = link_to 'destroy', lab_path(lab), :method => :delete, :data => { :confirm => 'Are you sure?'}, :class => 'btn btn-mini btn-danger'
.form-actions
  - if can? :create, Lab and @current_user.status != "undergrad"
    = link_to 'New', new_lab_path, class: :'btn btn-primary'
  - elsif can? :request, Lab
    = link_to 'Request New', new_lab_path , class: :'btn btn-primary'
    