- model_class = Lab
- title model_class.model_name.human.pluralize
- currently_at 'Labs'

%table.table.table-striped.datatable
  %thead
    %tr
      %th= model_class.human_attribute_name(:id).upcase
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:url).upcase
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @labs.each do |lab|
      %tr
        %td= lab.id
        %td= link_to lab.name, lab
        %td= link_to lab.url, lab.url
        %td= lab.description
        %td= lab.created_at
        %td
          - if can? :edit, Lab
            = link_to 'edit', edit_lab_path(lab), :class => 'btn btn-mini'
          - if can? :destroy, Lab
            = link_to 'destroy', lab_path(lab), :method => :delete, :data => { :confirm => 'Are you sure?'}, :class => 'btn btn-mini btn-danger'
.form-actions
  - if can? :create, Lab
    = link_to 'New', new_lab_path, :class => 'btn btn-primary'