- title @lab.name
%a.btn.btn-warning Favorite This Lab (Doesn't work yet)
%hr
- if @lab.is_authorized?
  %p
    %strong Principal Investigator:
    = render @lab.principles.where("status like ?", "pi")
  %p
    %strong URL:
    %br
    = link_to @lab.url, @lab.url
  %p
    %strong Description:
    %br
    = @lab.description
  %p
    %strong Projects:
    = render @lab.projects
    = link_to 'New Project', new_project_path(:lab_id => @lab.id), class: :'btn' 


  .form-actions
    - if can? :edit, @lab
      = link_to 'Edit', edit_lab_path(@lab), :class => 'btn'
    - if can? :destroy, @lab   
      = link_to 'Destroy', lab_path(@lab), :method => "delete", :data => { :confirm => 'Are you sure?'}, :class => 'btn btn-danger'

- else
  - if can? :approve, @lab
    %p
      Dear PI, you must approve this lab
    = button_to 'Approve Lab', authorize_path, class: :'btn'
  - else
    %p
      Sorry, the PI must first approve this lab